<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.guet.mapper.LoopimgMapper">
    <resultMap id="loopimgMap" type="cn.edu.guet.bean.Loopimg">
        <!-- 菜单自身的信息 -->
        <id property="loopimgid" column="loopimgid"/>
        <result property="loopimgurl" column="loopimgurl"/>
    </resultMap>
    <select id="getloopimgList" resultMap="cn.edu.guet.mapper.LoopimgMapper.loopimgMap">
        SELECT loopimgid, loopimgurl FROM loopimg
    </select>
</mapper>