<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.guet.mapper.UserMapper">
    <resultMap id="UserMap" type="cn.edu.guet.bean.User">
        <!-- 菜单自身的信息 -->
        <id property="id" column="userid"/>
        <result property="nickName" column="nick_name"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="mobile" column="mobile"/>
        <result property="createtime" column="create_time"/>
        <result property="rolename" column="role_name"/>
        <result property="roleid" column="role_id"/>
    </resultMap>
    <insert id="adduser">
        INSERT INTO users (userid, username, nick_name, password, salt, email, mobile, create_time)
        VALUES (#{id},#{username},#{nickName},#{password},#{salt},#{email},#{mobile},#{createtime});
    </insert>
    <update id="updateuser">
        UPDATE users
        SET username = #{username},nick_name = #{nickName},email = #{email},mobile = #{mobile}
        WHERE userid = #{id}
    </update>
    <delete id="deleteuser">
        DELETE FROM users WHERE userid=#{userid};
    </delete>

    <select id="login" resultType="cn.edu.guet.bean.User">
        SELECT userid as id, nick_name as nickName, password, salt
        FROM users
        WHERE username = #{username}
    </select>

    <select id="getMenuByUserId" resultMap="cn.edu.guet.mapper.PermissionMapper.permissionMap">
        SELECT p.*
        FROM user_role ur,
             role_permission rp,
             permission p
        WHERE ur.role_id = rp.role_id
          AND rp.permission_id = p.permission_id
          AND user_id = #{value}
    </select>
    <select id="getUserList" resultMap="UserMap">
        select a.userid,a.username,a.nick_name,a.email,a.mobile,a.create_time,c.role_name
        from users a,user_role b,role c
        where a.userid=b.user_id
          and b.role_id=c.role_id
    </select>
</mapper>